<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/sitelayout">
<head>
<title>List of Accounts</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.css}" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.css" />
<link rel="stylesheet" th:href="@{/css/application.css}" href="../../../static/css/application.css" />
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="well well-small">Accounts</h1>
			</div>
		</div>
		<div layout:fragment="content">
			<div class="row">
				<div class="col-xs-12">
					<form action="#" th:action="@{/account/create/__${main}__}" method="POST" th:object="${account}" class="form-horizontal">
						<div class="form-group">
							<label for="day" class="col-xs-2">Day</label>
							<div class="col-xs-6">
								<input class="form-control" placeholder="Day" th:field="*{day}"/>
							</div>
							<div class="col-xs-4">
								<p class="text-warning" th:if="${#fields.hasErrors('day')}" th:errors="*{day}">Error with Day</p>
							</div>
						</div>
						
						<div class="form-group">
							<label for="money" class="col-xs-2">Money</label>
							<div class="col-xs-6">
								<input class="form-control" placeholder="Money" th:field="*{money}"/>
							</div>
							<div class="col-xs-4">
								<p class="text-warning" th:if="${#fields.hasErrors('money')}" th:errors="*{money}">Error with Money</p>
							</div>
						</div>
						
						<div class="form-group">
							<label for="memo" class="col-xs-2">Memo</label>
							<div class="col-xs-6">
								<input class="form-control" placeholder="Memo" th:field="*{memo}"/>
							</div>
							<div class="col-xs-4">
								<p class="text-warning" th:if="${#fields.hasErrors('memo')}" th:errors="*{memo}">Error with Momo</p>
							</div>
						</div>
						
						<div class="form-group">
							<label for="etc" class="col-xs-2">Etc</label>
							<div class="col-xs-6">
								<input class="form-control" placeholder="Etc" th:field="*{etc}"/>
							</div>
							<!--<div class="col-xs-4">-->
								<!--<p class="text-warning" th:if="${#fields.hasErrors('etc')}" th:errors="*{etc}">Error with Etc</p>-->
							<!--</div>-->
						</div>

						<div class="form-group">
							<label for="accountTarget" class="col-xs-2">Target</label>
							<div class="col-xs-6">
								<select class="form-control" th:field="*{accountTarget}">
									<option th:each="accountTarget : ${targets}" th:text="${accountTarget.desc}" th:value="${accountTarget}"></option>
								</select>
							</div>
							<div class="col-xs-4">
								<p class="text-warning" th:if="${#fields.hasErrors('accountTarget')}" th:errors="*{accountTarget}">Error with Target</p>
							</div>
						</div>

						<div class="form-group">
							<label for="accountType" class="col-xs-2">Type</label>
							<div class="col-xs-6">
								<select class="form-control" th:field="*{accountType}">
									<option th:each="accountType : ${types}" th:text="${accountType.desc}" th:value="${accountType}"></option>
								</select>
							</div>
							<div class="col-xs-4">
								<p class="text-warning" th:if="${#fields.hasErrors('accountType')}" th:errors="*{accountType}">Error with Type</p>
							</div>
						</div>

						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>