<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/sitelayout">
<head>
<title>List of Accounts</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.css}" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.css" />
<link rel="stylesheet" th:href="@{/css/application.css}" href="../../static/css/application.css" />
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="well well-small">Accounts</h1>
			</div>
		</div>
		<div layout:fragment="content">
			<div class="row">
				<div class="col-xs-12">
					<form action="#" th:action="@{/main/create}" method="POST" th:object="${main}" class="form-horizontal">
						<div class="form-group">
							<label for="year" class="col-xs-2">Year</label>
							<div class="col-xs-6">
								<input class="form-control" placeholder="Year" th:field="*{year}"/>
							</div>
							<div class="col-xs-4">
								<p class="text-warning" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Error with Year</p>
							</div>
						</div>
						<div class="form-group">
							<label for="month" class="col-xs-2">Month</label>
							<div class="col-xs-6">
								<input class="form-control" placeholder="Month" th:field="*{month}"/>
							</div>
							<div class="col-xs-4">
								<p class="text-warning" th:if="${#fields.hasErrors('month')}" th:errors="*{month}">Error with Month</p>
							</div>
						</div>
						<div class="form-group">
							<label for="pay" class="col-xs-2">Pay</label>
							<div class="col-xs-6">
								<input class="form-control" placeholder="Money" th:field="*{pay}"/>
							</div>
							<div class="col-xs-4">
								<p class="text-warning" th:if="${#fields.hasErrors('pay')}" th:errors="*{pay}">Error with Pay</p>
							</div>
						</div>

						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>