<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/sitelayout">
<head>
<title>List of Accounts</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.css}" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.css" />
<link rel="stylesheet" th:href="@{/css/application.css}" href="../../static/css/application.css" />
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="well well-small">Accounts</h1>
			</div>
		</div>
		<div layout:fragment="content">
			<div class="row">
				<div class="col-xs-12">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>ID</th>
								<th>Info</th>
								<th>Date</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${mains.empty}">
								<td colspan="3">No messages</td>
							</tr>
							<tr th:each="main : ${mains}">
								<td th:text="${main.id}">1</td>
								<td>
									<a th:href="@{/main/view/__${main.id}__}" href="#">
										<span th:text="${main.year}">2016</span> - <span th:text="${main.month}">1</span>
									</a>

								</td>
								<td th:text="${main.regDate}">2016-04-25</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<a href="#" th:href="@{/main/form}" class="btn btn-default">New</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>