<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/sitelayout">
<head>
<title>List of Accounts</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.css}" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.css" />
<link rel="stylesheet" th:href="@{/css/application.css}" href="../../static/css/application.css" />
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="well well-small">Accounts</h1>
			</div>
		</div>
		<div layout:fragment="content">
			<div class="row">
				<div class="col-xs-12">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>ID</th>
								<th>Year</th>
								<th>Month</th>
								<th>Pay</th>
								<th>Date</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td th:text="${main.id}">1</td>
								<td th:text="${main.year}">2016</td>
								<td th:text="${main.month}">1</td>
								<td th:text="${main.pay}">0</td>
								<td th:text="${main.regDate}">2016-04-25</td>
								<td><a href="#" th:href="@{/account/form/__${main.id}__}">Add</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>Day</th>
								<th>Money</th>
								<th>Memo</th>
								<th>Type</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${main.accounts.empty}">
								<td colspan="4">No messages</td>
							</tr>
							<tr th:each="account: ${main.accounts}">
								<td th:text="${account.day}">1</td>
								<td th:text="${account.money}">0</td>
								<td th:text="${account.memo}">Memo</td>
								<td th:text="${account.accountType.desc}">Type</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>			
		</div>
	</div>
</body>
</html>